<script type="text/javascript">
  tt_cancel_destination = "/clinic";
  //tt_cancel_show = "/clinic";

  //"/clinic/location_management?dashboard=clinic_administration";
	tt_cancel_destination = "<%= request.referrer%>";

  </script>

<% form_tag :action => "rename", :id => params[:id], :type => params[:type], :return_url => request.referrer do -%>  

    <%= text_field_tag "name",  nil, {
      :helpText => 'Enter New Name'           
    }%>
  
<% end -%>

