<script type="text/javascript" language="javascript">
  <!--
  tt_cancel_show = "<%=params[:cancel_show]%>";
  tt_cancel_destination = "<%=params[:cancel_destination]%>";
 </script>

<div style="padding-top: 20%;text-align:center;">
  <h1 style="color: lightcoral;">Central Repository Not Found</br></br> Contact 0995 880 419 For Help</h1>
</div>