<html>
  <head>
    <style type="text/css">

      button {
        min-height: 50px;
        min-width: 350px;
        margin: 5px;
        margin-bottom: 10px;
        font-size: 1.2em;
        background-color: #6281a7;
        color: #FFF;
        font-weight: normal;
        border-radius: 30px;
        border: 5px outset #000;
        padding: 10px;
        cursor: pointer;
      }
 	 h2 {
		padding-top: 50px;
	  }

    </style>
  </head>
  <body>
  <center>
	<% if @limited_serial_numbers %>
     <h2 style="color:red;text-align:center;"> <blink> <%= @print_string%> </blink></h2>
	 <% else %>
 	<h2 style="color: #6281a7;text-align:center;"><%= @print_string%></h2>
	 <% end %>
    <button onclick="parent.window.location = '/people/add_batch/<%= current_user.user_id %>';">
      Add New Batch
    </button>
   
    <!--button onclick="parent.window.location = '/user/activities/<%= current_user.user_id %>';">
      Activities
    </button-->
  </center>
</body>
</html>
