<html>
  <head>
    <title>Select Report</title>
    <script type="text/javascript" language="javascript"
    src="/touchscreentoolkit/lib/javascripts/touchScreenToolkit.js" defer  ></script>
    <meta http-equiv='content-type' content='text/html;charset=UTF-8' />
    <script type="text/javascript" language="javascript">
      <!--
      tstCurrentDate = "<%= Date.today %>";
      tt_cancel_destination = '/clinic';
      tt_cancel_show = '/clinic';

      function set_ajaxURL_for_suggestions(control, url, filter_value) {
        $(control).setAttribute('ajaxURL', url +
          filter_value.replace(/\s/g, "+") + "&search_string=");
      }

      //-->
    </script>
  </head>
  <body ><div id='content'>
      <%if params[:type] != "cohort"%>
        <form  action='/reports/report' method="post">
        <%else%>
          <form  action='/reports/cohort_report' method="post">
          <%end%>
          <select id="select_by" name="select_by" helpText="Report By:" condition="<%= params[:type] != 'cohort' %>">
            <option></option>
            <option>Date of birth</option>
            <% if false %>
              <option>District of birth</option>
              <option>Health Facility</option>
              <option>Birth report source</option>
            <%end%>
          </select>

          <input type="text" id="start_date" name="start_date" helpText="Start Date"
                 field_type="date" condition="<%= params[:type] == 'cohort' %> || __$('select_by').value=='Date of birth' || __$('select_by').value=='Birth report source'" />

          <input type="text" id="end_date" name="end_date" helpText="End Date"
                 field_type="date" condition="<%= params[:type] == 'cohort' %> || __$('select_by').value=='Date of birth' || __$('select_by').value=='Birth report source'" />

          <input type="hidden" id="type" name="type" value ="<%= params[:type] %>" />


        </form>
    </div>
  </body>
</html>
